<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Filter iPhone Example</title>
    <script src="lib/angular.min.js"></script>
    <script src="js/filter.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
  <body>
    <div class="container" ng-app="filterPhone" ng-controller="filterPhoneCtrl">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" placeholder="Search iPhone by color or capacity filed" ng-model="searchTerm">
          </div>
        </div>
      </form>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>id</td>
            <td>name</td>
            <td>color</td>
            <td>type</td>
            <td>capacity</td>
            <td>price</td>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="iphone in iphones | filter: doFilter">
            <td>{{ iphone.id }}</td>
            <td>{{ iphone.name }}</td>
            <td>{{ iphone.color }}</td>
            <td>{{ iphone.type }}</td>
            <td>{{ iphone.capacity }}</td>
            <td>{{ iphone.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
